<%- include('partials/header'); -%>

    <body>

        <div class ="create-course content">
            <form action="/courses" method="POST">

                <label for="name">Course Name:</label>
                <input type="text" id="title" name="title" required>
                <label for="subject area">Subject Area:</label>
                <input type="text" id="snippet" name="snippet" required>
                <label for="numCredits">Credit Hours:</label>
                <input type="text" id="snippet" name="snippet" required>
                <label for="description">Course Description:</label>
                <textarea id="body" name="body" required></textarea>
                <button>Submit</button>
            </form>
        </div>

        <%- include('./partials/footer.ejs')%>


<!-- <form action="/blogs" method="POST">
    <label for="title">Blog title:</label>
    <input type="text" id="title" name="title" required>
    <label for="snippet">Blog snippet:</label>
    <input type="text" id="snippet" name="snippet" required>
    <label for="body">Blog body:</label>
    <textarea id="body" name="body" required></textarea>
    <button>Submit</button>
</form> -->