<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
        <img src="/smoothie.png" alt="image here">
    </div>
    <div class="headings">
        <h2>Opening the Doors to Knowledge</h2>
        <a href="/courses" class="btn">View Courses</a>
    </div>
</header>
<body>
        <p>Welcome to the futuristic realm of the Learning Institute, where education transcends boundaries and knowledge is as boundless as the cosmos themselves! In our universe inspired school, we embark on a journey through the uncharted territories of digital academia. Our webpages will be portals to knowledge, our cybernetic scholars navigate through the interstellar index of courses, with each link flowing with potential. Join us as we forge ahead into the infinite frontier, where the very fabric of education is woven with the threads of innovation and imagination. Prepare to witness the birth of a new era in learning at the Learning Institute!</p>
</body>


<%- include('partials/footer'); -%>