<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
        <img src="/smoothie.png" alt="image here">
    </div>
    <div class="headings">
        <h2> Every Lesson Will Send a Shiver Down Your Spine!</h2>
      <a href="/courses" class="pumpkin-button">View Courses</a>
    </div>
</header>
<body>
        <p>Welcome to the eerie realm of the Whispering Hallows Institute, where education defies the laws of nature and knowledge is as mysterious as the shadows themselves! In our haunted halls of learning, we embark on a spine-chilling journey through the uncharted territories of digital academia. Our webpages will be gateways to the unknown, our cybernetic scholars venturing through the spectral index of courses, with each link pulsating with otherworldly potential. Join us as we venture into the abyssal frontier, where the very essence of education is interwoven with the threads of darkness and enchantment. Brace yourselves to witness the awakening of a new era in learning at the Whispering Hallows Institute... if you dare!</p>
</body>


<%- include('partials/footer'); -%>